{% extends "base.html" %} {% block title %}Bookshelf{% endblock %} {% block content
%}

<h1 align="center">Bookshelf</h1>
HACER: Aquí ira la pagina con las portadas de los libros en formato Cards
de bookstrap como si fuera una tabla de 4 portadas en cada fila o de forma ajustable al ancho:
<ol>
  <li>Obtener las portadas y visualizarlas</li>
  <li>Poner el nombre del titulo junto a la portada</li>
  <li>Opcional poner algun botón para ordenar por fecha de insercion o titulo o autor</li>
  <li>Al pinchar un libro se abre para leer</li>
</ol>

{% endblock %}