{% extends "base.html" %} {% block title %}Catalog{% endblock %} {% block content
%}

<h1 align="center">MyBooks Catalog</h1>
<p></p>
<div id="pricing" class="table-responsive">
  <table class="table table-hover mx-auto w-auto">
  <thead class="bg-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Date</th>
    <th scope="col">Created at</th>
    <th scope="col">Size (KB)</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  {% for book in user.books %}
  <tr>
    <th scope="row">{{ book.id }}</th>
    <td><a href="/read_book?id={{ book.id }}">{{ book.title }}</a></td>
    <td>{{ book.author }}</td>
    <td>{{ book.date }}</td>
    <td>{{ book.created_at }}</td>
    <td>{{ "%d"|format(book.size/1000) }}</td>
    <td>
      <a class="btn btn-outline-primary btn-sm" href="/update_book?id={{ book.id }}" role="button">
      <i class="bi-pencil"></i></a></td>
    <td>
      <a class="btn btn-outline-danger btn-sm" onClick="deleteBook({{ book.id }})">
        <i class="bi-trash"></i></a>
      <!--Otra forma de icono para borrar un libro
        <button type="button" class="close" onClick="deleteBook({{ book.id }})">
          <span aria-hidden="true">&times;</span></button>-->
    </td>
  </tr>
  {% endfor %}
  </tbody>

</table>
</div>

{% endblock %}
