{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<br />
  <main role="main" class="inner cover">
    <h1 align="center"><i class="bi bi-book" style="font-size: 10rem; color: #CBB26A;"></i></h1>
    <h1 class="display-1" class="cover-heading" align="center" style="color: #CBB26A;">MYBOOKS</h1>
    <p class="lead text-muted" align="center">ALWAYS WITH YOU</p>
    <p class="lead" align="center">
      <a href="/login" class="btn btn-lg btn-secondary">Login</a>
      <a href="/sign-up" class="btn btn-lg btn-secondary">Sign up for free</a>
    </p>
  </main>

{% endblock %}