{% extends "base.html" %} {% block title %}Update user profile{% endblock %} {% block
content %}

<form method="POST">
  <h1 align="center">Update user profile</h1>
  <div class="form-group">
    <input type="hidden" class="form-control" id="id" name="id" value="{{ usr.id }}">
    <label for="title">User name</label>
    <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            value="{{ usr.username }}"
            disabled
    />
    <label for="email">Email address</label>
    <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            value="{{ usr.email }}"
            placeholder="Enter email"
    />
    <label for="name">First Name</label>
    <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            value="{{ usr.name }}"
            placeholder="Enter name"
    />
    <label for="surname">Surname</label>
    <input
            type="text"
            class="form-control"
            id="surname"
            name="surname"
            value="{{ usr.surname }}"
            placeholder="Enter surname"
    />
    <label for="password1">New password</label>
    <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder="Enter password"
    />
    <label for="password2">New password (confirm)</label>
    <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirm password"
    />
    {% if user.type == 0 %}
    <label for="type">Type</label><br />
    <select class="form-select form-select-sm" id="type" name="type">
      {% for user_type in user_types|sort(reverse=True) %}
          {% if user_type[0] == usr.type %}
            <option value="{{ user_type[0] }}" selected>{{ user_type[1] }}</option>
          {% else %}
            <option value="{{ user_type[0] }}">{{ user_type[1] }}</option>
          {% endif %}
      {% endfor %}
    </select>
    {% endif %}
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}